*{
    box-sizing: border-box;
}
body{
  height: 300vh;
  margin: 0;
}
.page-header{    /* обращение к header */
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: aquamarine;
    -webkit-box-shadow: o 3px 3px 0 #B5B5B5;
    box-shadow: 0 3px 3px 0 #B5B5B5;

}
.list{    /* обращаемся к ul */
    padding: 0;
    list-style: none;
    text-align: center;
}
.list-item{
    
    display: inline-block;
    position: relative;
    color: aqua;
    /* transition: color, background-color 0.6s ease .2s; */
    /* transition-property: color, background-color;
    transition-duration: 600ms;
    transition-timing-function: ease;
    transition-delay: 200ms; */

}
.list-item::after,
.list-item::before{
    display: inline-block;
    content: '';
    height: 3px;
    width: 0%;
    background-color: blue;
    
}
.list-item:hover::before,
.list-item:hover::after{
    position: absolute;
    width: 100%;   
    transition: 0.5s 0.2s  ;  
}
::after{
    right: 0;
    bottom: -5px;
}
::before{
    top: -5px;
    left: 0;
}

.link{
    display: inline-block;
    padding: 1em;
    background-color:azure;
    text-decoration: none;  
}

main{
    padding-top: 6em;
}

h1{
    width: 50vw;
    margin: auto;
    position: relative;
    background-color: green;
    text-align: center;
}
h1::before,
h1::after{
    content:url(../icon/phone.svg);
    display: inline-block;
    width: 1em;
    position: absolute;
    top: 0.1em;
    
}
h1::before{
    left: 100%;
}
h1::after{
    right:100%;
}
